<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.inator.greenscreenman">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherProfilePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StudentProfilePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectionForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CricketRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cricket_login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".arAcrivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>